* {
	margin: 0;
	padding: 0;
}

header {
	height: 95%;
	background-color: #FFD700;
}

a {
	text-decoration: none;
	color: white;
	padding:2%;

}
img {
	padding-left: 11%;
}
footer {
	height: 100px;
	background-color: #585858;
}
.cabecera {
	padding-top: 10%;
}

.content-white{
	background-color: white;
	padding-top: 10%;
    padding: 5%;
}

.text-cw{
	width: 70%;
	margin: 0 auto;
}
.lab-center {
	text-align: center;
    padding-top: 10%;
}
.boton {
	padding: 14px 22px 14px;
	background-color: #fcba43;
	border-radius: 5px

}
.boton-section{
	padding: 8px 25px;
	background-color: #fcba43;
	border-radius: 5px
}
.parrafo-footer{
	color: white;
}
.boton-center{
	text-align: center;
}

